body{
	font-family: sans-serif;
	color: #454545;
}
.container{
	width: 1280px;
	margin: 0 auto;
}

.tasks li .management .deadline{
	color:red;
}
.meta{
	border-bottom:1px dotted #333;
	margin-bottom: 20px;
}
.meta:after{
	display: block;
	content:" ";
	clear: both;
}
.meta p{
	float: left;
	margin-right: 20px;
}
.filter{
	padding: 10px;
	background: #eaeaea;
	margin-bottom: 10px;
}
.tasks{
	display: block;
	list-style-type: none;
	padding: 0;

}
.tasks li{
	display: block;
	padding: 10px;
	margin:0 0 10px 0;
	border: 1px solid #eaeaea;
	background: white;
}
.tasks li:hover{
	background: #ffffef;
}
.tasks li .management{
	padding-top: 10px; 
	border-top: 1px dotted #eaeaea;
}
.tasks li .management span{
	font-size: 12px;
	color:#959595;
}
.details{
	border:1px solid #333;
	padding: 20px;
}
#sidebar{
	background: #f5f5f5;
}